* {
    box-sizing: border-box;
}


/* For mobile phone */

@media only screen and (max-width: 600px) {
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
}


/* For tablet */

@media only screen and (min-width: 600px) {
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
}


/* For desktop */

@media only screen and (min-width: 768px) {
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

[class*="col-"] {
    float: left;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.button {
    background-color: palevioletred;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 1s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
}

.button:hover {
    opacity: 1
}

img {
    float: left;
}

.clearfix {
    overflow: auto;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: palevioletred;
}

.li {
    float: left;
}

li a {
    color: white;
    font-family: geneva;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
}

li a:hover {
    opacity: 1;
}

.experience {
    font-family: geneva;
    font-size: 24px;
    letter-spacing: 6px;
    background-color: palevioletred;
    text-align: center;
    color: white;
}

.experience2 {
    font-family: geneva;
    font-size: 14px;
    letter-spacing: 5px;
    background-color: none;
    text-align: center;
    color: white;
    background-color: palevioletred;
    line-height: 34px;
}

.work {
    font-family: geneva;
    font-size: 20px;
    color: white;
    text-decoration: underline;
    letter-spacing: 5px;
    text-align: center;
}

.textwork {
    font-family: geneva;
    font-size: 18px;
    color: white;
    text-align: left;
}

.textwork2 {
    font-family: geneva;
    font-size: 15px;
    padding-top: 10px;
    text-align: left;
    color: black;
}

.spasi {
    letter-spacing: 0.1em;
    font-size: 16px;
    color: white;
}

.kotak1 {
    background-color: palevioletred;
    padding: 14px 16px;
    border-radius: 18px;
    height: 605px;
}

.kotakfloat {
    background-color: palevioletred;
    padding: 14px 16px;
    border-radius: 18px;
    float: left;
}

.kotak2 {
    background-color: palevioletred;
    padding: 14px 16px;
    border-radius: 18px;
    height: 605px;
}

.latarfull {
    width: 100%;
    height: 100%;
    background-color: #fffafa;
}

.hr {
    border-width: 2px;
    border-style: solid;
    border-color: white;
}

.hr2 {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.h1 {
    letter-spacing: 3px;
    font-family: geneva;
    text-align: left;
    overflow: hidden;
}

.formal {
    text-align: left;
    font-family: geneva;
    font-size: 18px;
    color: white;
}

.ul2 {
    list-style-type: square;
    text-align: left;
}

.jarak {
    padding: 8px;
}

.aside {
    background-color: none;
    padding: 15px;
    color: palevioletred;
    text-align: justify;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-family: geneva;
    text-align: left;
    font-size: 24px;
  }

  .aside2 {
    background-color: none;
    padding: 15px;
    color: palevioletred;
    text-align: left;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-family: geneva;
    font-size: 20px;
  }